<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SABotSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SABotSupport.Properties.Settings>
      <setting name="UpdateDelay" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="UseLinearRegression" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HPLimit1" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="HPColor1" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="HPLimit2" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="HPColor2" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="MPLimit1" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="MPColor1" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="MPLimit2" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MPColor2" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="CharismaLimit1" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="CharismaColor1" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="CharismaLimit2" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CharismaColor2" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="DurabilityLimit1" serializeAs="String">
        <value>79</value>
      </setting>
      <setting name="DurabilityColor1" serializeAs="String">
        <value>DarkOrange</value>
      </setting>
      <setting name="DurabilityLimit2" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DurabilityColor2" serializeAs="String">
        <value>DarkRed</value>
      </setting>
      <setting name="CopyItemNameOnClick" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoyaltyLimit1" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="LoyaltyColor1" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="LoyaltyLimit2" serializeAs="String">
        <value>59</value>
      </setting>
      <setting name="LoyaltyColor2" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="PredictLevel" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="DisplayCopyPetScreenshotMenuItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplaySavePetScreenshotMenuItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayCopyCurrentStatsMenuItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayCopyBaseStatsMenuItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayCopyAllPetStatsMenuItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayPredictStats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayBaseStats" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisableMapList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMapListAsWhitelist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDifferentialCopyBasedOnClickTarget" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoRemoveWhitespace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayCopyPredictStatsMenuItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CopyPetStatsOnRightClick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTeamChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPrivateChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFamilyChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAnnounceChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowJobChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowWorldChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowInterworldChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableMergedChatMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBroadcastChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSystemChannel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayCopyBoostStatsMenuItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BoostLevel" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="AssumeBoostKingPet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayBoostStats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveAccountPasswords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccountPasswordCollection" serializeAs="String">
        <value />
      </setting>
      <setting name="AssaPathCollection" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerlistINIPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoHideOnLogin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoDetermineBoostKingPet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForceBoostKingPet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseOldAssaCapture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MapNameList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </setting>
      <setting name="PetStatCopyFormat" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>Lv1HP</string>
            <string>Tab</string>
            <string>Lv1Attack</string>
            <string>Tab</string>
            <string>Lv1Armor</string>
            <string>Tab</string>
            <string>Lv1Speed</string>
            <string>Tab</string>
            <string>Level</string>
            <string>Tab</string>
            <string>HP</string>
            <string>Tab</string>
            <string>Attack</string>
            <string>Tab</string>
            <string>Armor</string>
            <string>Tab</string>
            <string>Speed</string>
            <string>Tab</string>
            <string>HPRate</string>
            <string>Tab</string>
            <string>AttackRate</string>
            <string>Tab</string>
            <string>ArmorRate</string>
            <string>Tab</string>
            <string>SpeedRate</string>
            <string>Tab</string>
            <string>CombinedRate</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SearchAllProcesses" serializeAs="String">
        <value>False</value>
      </setting>
    </SABotSupport.Properties.Settings>
  </userSettings>
</configuration>